<!DOCTYPE html>
<html lang="es">
<html>
<head>
<link rel="stylesheet" href="/css/elementos.css">
<title>Elementos</title>
</head>
<body>

  <ul class="navbar">
    <li><a href="/index.html">Inicio</a></li>
    <li><a href="/views/Elementos.html">Componentes</a>
      <ul class="nav"> 
        <li><a href="/views/Software.html">Software</a></li>
        <li><a href="/views/hardware.html">Hardware</a></li>
        <li><a href="/views/Redes.html">Redes</a></li>
      </ul>
    </li>
    <li><a href="/views/formulario.html">Quiz</a></li>
  </ul>

<div class="titulo">
  <h1>ElEMENTOS DE LOS SISTEMAS DE INFORMACION</h1>
</div>

<div class="parrafo">
  <p>Todo sistema de información se compone de una serie de recursos interconectados y en interacción, 
    dispuestos del modo más conveniente en base al propósito informativo trazado, como puede ser recabar información personal, 
    procesar estadísticas, organizar archivos, etc. Estos recursos pueden ser:</p>
  </div>


<section class="elementos">
  <p>
    <b>Elementos financieros :</b> Aquellos vinculados con el capital y con los activos disponibles de la organización.</br>
    <b>Elementos tecnológicos :</b> Aquellos que tienen que ver con la maquinaria especializada y la capacidad de procesamiento automatizado de la información.</br>
    <b>Elementos humanos :</b> Básicamente, personal, tanto especializado y directivo, como no especializado o común.</br>
    <b>Elementos materiales :</b> Se refiere al emplazamiento del sistema, a su soporte físico y ubicación.</br>
    <b>Elementos administrativos :</b> Aquellos relacionados con los procesos, la mecánica de conducción, los permisos, informes, transacciones, etc.
  </p>
</section>


<div class="imagen-1">
  <img src="/img/descarga1.jpeg">
</div>
  
<h3>Tipos de sistemas de imformacion</h3>



<table class="sistemas-table">
  <thead>
      <tr>
          <th>Sistemas de Procesamiento de Transacciones (TPS)</th>
          <th>Sistemas de Información Ejecutiva (EIS)</th>
          <th>Sistemas de Información Gerencial (MIS)</th>
          <th>Sistemas de soporte de decisiones (DSS)</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>⚫También conocidos como sistemas de gestión operativa, recopilan la información pertinente a las transacciones de la organización, es decir, de su funcionamiento.</td>
          <td>⚫Monitoriza las variables gerenciales de un área específica de la organización, a partir de la información interna y externa de la misma.</td>
          <td>⚫Contemplan la información general de la organización y la comprenden como un todo.</td>
          <td>⚫Orientados al procesamiento de información intra y extra organizacional, para el apoyo en la conducción de la empresa.</td>
      </tr>
  </tbody>
</table>

<div class="imagen-1">
  <img src="/img/descarga2.png"></br>
</div>


<div class="video-container"> 
  <iframe width="853" height="480" src="https://www.youtube.com/embed/2XYjUK4TcCQ" title="Conceptos básicos de Sistemas de Información (SI)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


</body>
</html>