<!DOCTYPE html>
<html lang="es">
<html>
<head>
<link rel="stylesheet" href="/css/software.css">
<title>Software</title>
</head>
<body>
  
  <ul class="navbar">
    <li><a href="/index.html">Inicio</a></li>
    <li><a href="/views/Elementos.html">Componentes</a>
      <ul class="nav"> 
        <li><a href="/views/Software.html">Software</a></li>
        <li><a href="/views/hardware.html">Hardware</a></li>
        <li><a href="/views/Redes.html">Redes</a></li>
      </ul>
    </li>
    <li><a href="/views/formulario.html">Quiz</a></li>
  </ul>

<h1>Software</h1>

<P>Es la suma total de los programas de cómputo, procedimientos,</BR>
 reglas documentación y datos asociados que forman parte de las 
 operaciones de un sistema de cómputo</P>
 
 <div class="imagen-1">
   <img src="/img/descarga3.jpeg">
  </div>

<P>Se desarrollan, no se fabrican.</BR>
No se estropean.</BR>
Diferentes aplicaciones:</BR>
  -Comercial</BR>
  -Científica</BR>
  -Entretenimiento..</BR>
Producto Principal:  INFORMACION</BR></P>

<h2>Software de calidad</h2>


<table class="quality-table">
  <thead>
      <tr>
          <th>Características</th>
          <th>Calidad</th>
          <th>Medición</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1. Confiable<br>2. Mantenible<br>3. Eficiente<br>4. Amigable<br>5. Definible</td>
          <td>- Externa<br>- Interna</td>
          <td>- Cuantitativamente<br>- Cualitativamente</td>
      </tr>
  </tbody>
</table>

<h2>Tipos de software</h2>

<table class="tabla2-table">
  <thead>
      <tr>
          <th>Apertura de código</th>
          <th>Costo</th>
          <th>Tipo de Producto</th>
          <th>Protección</th>
          <th>Legalidad</th>
          <th>Filosofía</th>
          <th>Modo de distribución</th>
          <th>Uso</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Abierto<br>Cerrado</td>
          <td>=0<br>>0</td>
          <td>Hecho a la medida<br>Genérico</td>
          <td>Dominio público<br>Por licencia</td>
          <td>Legal<br>Ilegal</td>
          <td>Libre<br>Comercial</td>
          <td>Freeware<br>Shareware<br>Demo</td>
          <td>Aplicación<br>Sistema<br>Lenguaje</td>
      </tr>
  </tbody>
</table>

<div class="imagen-1">
  <img src="/img/Si.png">
</div>

<h2>SOFTWARE DEL SISTEMA</h2>

<table class="tabla3-table">
  <thead>
      <tr>
          <th>Funciones:</th>
          <th>Componentes:</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Administrar recursos H/S<br>Memoria<br>Discos<br>Impresoras<br>Comunicaciones<br>Control de acceso<br>Software</td>
          <td>1. Kernel<br>2. Device Drivers<br>3. Shell<br>4. Manejador de ventanas</td>
      </tr>
  </tbody>
</table>

<h3>SOFTWARE DE RED:</H3>

<p>Conjunto de programas relacionados con la interconexión de equipos informáticos para compartir recursos (software y hardware) , facilitar la comunicación y controlar la seguridad.</p>
<p>1. Software de control</br>2. Software de administración</br>3. Software de medición</br>4. Software de búsqueda</p>

<h3>UTILIDADES DEL SISTEMA</h3>

<P>Conjunto de aplicaciones que permiten realizar tareas que usualmente no son manejadas por el sistema operativo y mejoran o complementan su funcionamiento y desempeño</P>
<p>- Defragmentación de archivos</br>– Software Antivirus</br>– Copias de Seguridad</br>– Liberadores de espacio</br>– Monitor del sistema</br>– Información del sistema</br>– Restaurar sistema</br>– Preservador de Pantalla (Screen savers)</br>– Programador de tareas…</p>

<h2>SOFTWARE DEL LENGUAJE</H2>

<H3>Ejemplos:</h3>
<p>- CASE</br>- Compiladores</br>- Depuradores</br>- Editores</br>- Gestión de versiones</br>- Traductores</br>- Herramientas de conexión</br>- Constructor de IGU</br>- Etc.</p>

<h2>SOFTWARE DE APLICACION</H2>

<H3>Tipos:</h3>
<p>- Oficina</br>- CAD/CAM</br>- GIS</br>- Diseño grafico</br>- Retoque fotográfico</br>- Animación</br>- Contable</br>- Financiero</br>- Estadístico</p>

</body>
</html>

 